@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgba(var(--foreground));
  background: rgba(var(--general-700));
}

:root {
  --main-100: 241, 234, 254;
  --main-200: 201, 182, 253;
  --main-300: 169, 139, 252;
  --main-400: 149, 105, 251;
  --main-500: 130, 49, 250;
  --main-600: 104, 39, 201;
  --main-700: 78, 29, 151;
  --main-800: 53, 20, 102;
  --main-900: 27, 10, 52;

  --general-40: 162, 162, 245;
  --general-50: 129, 129, 208;
  --general-100: 108, 108, 185;
  --general-200: 88, 88, 158;
  --general-300: 70, 70, 135;
  --general-400: 53, 53, 107;
  --general-500: 41, 41, 91;
  --general-600: 25, 25, 57;
  --general-700: 18, 18, 43;
  --general-800: 12, 12, 27;
  --general-900: 6, 6, 13;

  --content-1: 0, 0, 0;
  --content-2: 218, 218, 226;
  --content-3: 195, 195, 209;
  --content-4: 168, 169, 193;
  --content-5: 147, 149, 178;

  --gray-100: 247, 249, 250;
  --gray-200: 231, 235, 238;
  --gray-300: 207, 217, 224;
  --gray-400: 174, 193, 204;
  --gray-500: 103, 114, 138;
  --gray-600: 90, 101, 124;
  --gray-700: 65, 77, 99;
  --gray-800: 27, 39, 58;
  --gray-900: 17, 27, 43;

  --blue-100: 204, 227, 253;
  --blue-200: 153, 199, 251;
  --blue-300: 102, 170, 249;
  --blue-400: 51, 142, 247;
  --blue-500: 0, 111, 238;
  --blue-600: 0, 91, 196;
  --blue-700: 0, 68, 147;
  --blue-800: 0, 46, 98;
  --blue-900: 0, 23, 49;

  --green-100: 209, 244, 224;
  --green-200: 162, 233, 193;
  --green-300: 116, 223, 162;
  --green-400: 69, 212, 131;
  --green-500: 23, 201, 100;
  --green-600: 18, 161, 80;
  --green-700: 14, 121, 60;
  --green-800: 9, 80, 40;
  --green-900: 5, 40, 20;

  --red-100: 253, 208, 223, 1;
  --red-200: 250, 160, 191, 1;
  --red-300: 248, 113, 160, 1;
  --red-400: 245, 65, 128, 1;
  --red-500: 243, 18, 96, 1;
  --red-600: 194, 14, 77, 1;
  --red-700: 146, 11, 58, 1;
  --red-800: 97, 7, 38, 1;
  --red-900: 49, 4, 19, 1;

  --purple-100: 228, 212, 244, 1;
  --purple-200: 201, 169, 233, 1;
  --purple-300: 174, 126, 222, 1;
  --purple-400: 147, 83, 211, 1;
  --purple-500: 120, 40, 200, 1;
  --purple-600: 96, 32, 160, 1;
  --purple-700: 72, 24, 120, 1;
  --purple-800: 48, 16, 80, 1;
  --purple-900: 24, 8, 40, 1;

  --yellow-100: 253, 237, 211, 1;
  --yellow-200: 251, 219, 167, 1;
  --yellow-300: 249, 201, 124, 1;
  --yellow-400: 247, 183, 80, 1;
  --yellow-500: 245, 165, 36, 1;
  --yellow-600: 196, 132, 29, 1;
  --yellow-700: 147, 99, 22, 1;
  --yellow-800: 98, 66, 14, 1;
  --yellow-900: 49, 33, 7, 1;

  --background: var(--general-700);
  --foreground: var(--content-1);
}
